* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* font-palette: --Grays; */
  } 

#game{
    height:400px;
    width:600px;
    background-image: url(/static/flappy2/sea.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    border:4px solid black;
    margin-left:25%;
    margin-top:2%;
    overflow:hidden;
    position: relative;
}

.card-text{
    font-size: large;
}

body{
    background-color:#66cbff;  
}

#pipe1{
    position:absolute;
    width: 50px;
    height: 50%;
    transform: rotate(180deg);
    background-color:black;
    background-image: url(/static/flappy2/stone1.png);
}

#pipe2{
    position:absolute;
    width: 50px;
    height: 40%;
    top: 80%;
    background-color:black;
    background-image: url(/static/flappy2/stone1.png);
}

.obstacle{
    left:95%;
    animation: block 6s linear infinite;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

/* .obstacle{
    width:50px;
    height:500px;
    position: relative;
    left: 400px;
    animation: block 5s linear infinite;
} */


@keyframes block{
    0%{left:600px}
    100%{left:-50px}
}

div#bag{
    position:absolute;
    top:200px;
    left:90px;
    background-color: white;
    /* background-image: url(bag.png); */
    border-radius: 50%;
    height:72px;
    width:72px;
    align-content: center;
}

/* 
#bag{
    background-image: url(bag.png);
} */

#bag img{
    height:60px;
    width:auto;
}

/* #score{
    color:white;
    font-size: x-large;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 2%;
} */

#start-button{
    font-size:24px;
    background-color: #66cbff;
    color: #ffffff;
    border-radius: 12px;
    padding: 32px 16px;
    transition-duration:0.5s;
    width:50%;
  }
 

.overlay-text{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    justify-content:center;
    align-items:center;
    z-index: 100;
    font-weight: bolder;   
  }

.overlay-text.visible{
    display:flex;
    animation: overlay-grow 500ms forwards;
  }

  @keyframes overlay-grow{
    from{
      background-color: rbga(0,0,0,0);
      font-size:0;
    }
    to{
      background-color: rbga(0,0,0,.8);
      font-size: 5em;
    }
  }
  

  .header{
    align-content: center;
    width:min-content;
    text-align: center;
  }

div.header{
    margin-left:45%;
}

#start-overlay{
  height:fit-content;
  margin-top: 10%;

}
